@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Chewy", system-ui;
}

header{
    background-color: #28464B;
    color: white;
    width: 100%;
    height: 8.5rem;
    font-size: 1.25rem;
    text-align: center;
    justify-content: center;
}
body{
    background-color: #fffce4;
}
.main-link{
    color: white;
    font-size: 2.5rem;
    text-decoration: none;
}

.main-link:hover{
    text-decoration: underline;
}

a{
    color: #FFB30F;
    font-size: 2rem;
    transition-duration: 0.4s;
    margin: 4rem;
}

a:hover{
    font-size: 2.5rem;
}

.main-text{
color: black;
text-align: center;
margin-top: 3rem;
font-size: 1.25rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.quiz{
    border: solid 0.313rem #28464B;
    width: 43.75rem;
    margin: auto;
    margin-bottom: 5rem;
}

h1{
    text-align: center;
}

#answers-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn, #next{
    border-radius: 1.75rem;
    border:0rem;
    margin: 1.563rem;
    font-size: 1.25rem;
    color: #28464B;
    transition-duration: 0.4s;
}

.btn{
    width: 35rem;
    height: 4.75rem;
}

.btn:hover:not([disabled]), #next:hover{
color: white; 
background-color: #28464B;   
cursor: pointer;
}

.btn:disabled{
    cursor: no-drop;
}

#next{
    width:10rem;
    height:3rem;
}

#next:hover{
    transform: scale(1.25);
}

.correct{
    background-color: #07b067;
    color: white;
}

.incorrect{
    background-color: #EB3434;
    color: white;
}

.green-text {
    color: #008148;
    font-weight: bold;
    text-decoration: underline; 
}

.red-text{
    color: #A30B37;
    font-weight: bold;
    text-decoration: underline;
}
  